<!-- Switch the mode between dark and light. -->

<script type="text/javascript">
  const modeToggle = (function () {
    const MODE_KEY = 'mode';
    const MODE_ATTR = 'data-mode';
    const DARK_MODE = 'dark';
    const LIGHT_MODE = 'light';
    const ID = 'mode-toggle';

    let sysDarkPrefers = window.matchMedia('(prefers-color-scheme: dark)');

    function getMode() {
      return localStorage.getItem(MODE_KEY);
    }

    function hasMode() {
      return getMode() != null;
    }

    function isDarkMode() {
      return getMode() === DARK_MODE;
    }

    function setDark() {
      document.documentElement.setAttribute(MODE_ATTR, DARK_MODE);
      localStorage.setItem(MODE_KEY, DARK_MODE);
    }

    function setLight() {
      document.documentElement.setAttribute(MODE_ATTR, LIGHT_MODE);
      localStorage.setItem(MODE_KEY, LIGHT_MODE);
    }

    function getModeStatus() {
      if (isDarkMode() || (!hasMode() && sysDarkPrefers.matches)) {
        return DARK_MODE;
      } else {
        return LIGHT_MODE;
      }
    }

    function notify() {
      window.postMessage({
        direction: ID,
        message: getModeStatus()
      }, '*');
    }

    function flipMode() {
      if (getModeStatus() === DARK_MODE) {
        setLight();
      } else {
        setDark();
      }
      notify();
    }

    // 초기화 로직
    if (hasMode()) {
      if (isDarkMode()) {
        setDark();
      } else {
        setLight();
      }
    } else {
      setLight(); // 기본값은 라이트 모드
    }

    return {
      flipMode: flipMode,
      DARK_MODE: DARK_MODE,
      LIGHT_MODE: LIGHT_MODE,
      ID: ID
    };
  })();
</script>
